<body>
  <div class="container"> <!-- container で全体を囲む -->
    <h1>Filtering Twitter</h1>
    <div class="row"> <!-- row で列を作る -->

      <%# left %>
      <div class="col-md-8">
        <div class="container">
          <div class="row">
            <img src="http://www.paper-glasses.com/api/twipi/<%= @user[:username]%>" alt="icon" class="img-thumbnail" >
            <h3><%= "#{@user[:name]}@#{@user[:username]}" %></h3>
            <div class="col-md-1">
            </div>

            <div class="col-md-6">
              <hr>
              <% @user[:tweet].each do |tweet| %>
                <p><%= tweet.to_s %></p>
                <hr>
              <% end %>
              ツイートを表示
            </div>

            <div class="col-md-1">
            </div>
          </div>
        </div>
      </div>

      <%# right %>
      <div class="col-md-4">
        <h3>フィルタリング文字列</h3>
        <% @ng_words.each do |w| %>
          <div><%= w %>
          <%= button_to "削除", users_destroy_path(:ng_word => w) %>
        </div>
          <hr>
        <% end %>
        <%= form_for @input, url: users_new_path do |f| %>
          <%= f.text_field :ng_word %>
          <%= f.submit '追加'%>
        <% end %>
      </div>
    </div>
  </div>
</body>
